<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lf-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1>Create new student</h1>
            <div class="card-body">
                <form th:action="@{/students}" th:object="${student}" method="post">
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text"
                        name="firstName"
                        th:field="*{firstName}"
                        class="form-control"
                        placeholder="Enter first name"
                        />
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text"
                               name="lastName"
                               th:field="*{lastName}"
                               class="form-control"
                               placeholder="Enter last name"
                        />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text"
                               name="email"
                               th:field="*{email}"
                               class="form-control"
                               placeholder="Enter email"
                        />
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>